@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nie nadpisuj kolorów i tła — DaisyUI robi to przez data-theme */
body {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  outline: 10px solid lime !important;
}
